:host ::ng-deep .mtx-grid .mat-cell .mat-cell-action-button .mat-icon {
    font-size: 24px !important;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 5px;
  }
 .btnSrhClass {
     margin-left: 5px;
 }
 .btnRstClass {
     margin-left: 5px;
 }